<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="project">
      <h2 data-cy="projectDetailsHeading"><span>Project</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ project.id }}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ project.code }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ project.name }}</span>
        </dd>
        <dt><span>Is Active</span></dt>
        <dd>
          <span>{{ project.isActive }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ project.description }}</span>
        </dd>
        <dt><span>Completion Date</span></dt>
        <dd>
          <span>{{ project.completionDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Reg Number</span></dt>
        <dd>
          <span>{{ project.regNumber }}</span>
        </dd>
        <dt><span>Notes</span></dt>
        <dd>
          <span>{{ project.notes }}</span>
        </dd>
        <dt><span>Address</span></dt>
        <dd>
          <span>{{ project.address }}</span>
        </dd>
        <dt><span>Location</span></dt>
        <dd>
          <div *ngIf="project.location">
            <a [routerLink]="['/location', project.location.id, 'view']">{{ project.location.city }}</a>
          </div>
        </dd>
        <dt><span>Ex User</span></dt>
        <dd>
          <div *ngIf="project.exUser">
            <a [routerLink]="['/ex-user', project.exUser.id, 'view']">{{ project.exUser.userName }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/project', project.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
