<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-order-details-heading" data-cy="OrderDetailsCreateUpdateHeading">Create or edit a Order Details</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_orderQty">Order Qty</label>
          <input type="number" class="form-control" name="orderQty" id="field_orderQty" data-cy="orderQty" formControlName="orderQty" />
          <div *ngIf="editForm.get('orderQty')!.invalid && (editForm.get('orderQty')!.dirty || editForm.get('orderQty')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('orderQty')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('orderQty')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_revisedItemSalesPrice">Revised Item Sales Price</label>
          <input
            type="number"
            class="form-control"
            name="revisedItemSalesPrice"
            id="field_revisedItemSalesPrice"
            data-cy="revisedItemSalesPrice"
            formControlName="revisedItemSalesPrice"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_note">Note</label>
          <input type="text" class="form-control" name="note" id="field_note" data-cy="note" formControlName="note" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_item">Item</label>
          <select class="form-control" id="field_item" data-cy="item" name="item" formControlName="item" [compareWith]="compareItem">
            <option *ngIf="!editForm.get('item')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="itemOption" *ngFor="let itemOption of itemsSharedCollection">{{ itemOption.id }}</option>
          </select>
        </div>
        <div *ngIf="editForm.get(['item'])!.invalid && (editForm.get(['item'])!.dirty || editForm.get(['item'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['item'])?.errors?.required"> This field is required. </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
