<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="masterItem">
      <h2 data-cy="masterItemDetailsHeading"><span>Master Item</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ masterItem.id }}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ masterItem.code }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ masterItem.name }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ masterItem.description }}</span>
        </dd>
        <dt><span>Is Active</span></dt>
        <dd>
          <span>{{ masterItem.isActive }}</span>
        </dd>
        <dt><span>Ex User</span></dt>
        <dd>
          <div *ngIf="masterItem.exUser">
            <a [routerLink]="['/ex-user', masterItem.exUser.id, 'view']">{{ masterItem.exUser.userName }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/master-item', masterItem.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
