<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="ratingType">
      <h2 data-cy="ratingTypeDetailsHeading"><span>Rating Type</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ ratingType.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ ratingType.name }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ ratingType.description }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/rating-type', ratingType.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
