<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="userRole">
      <h2 data-cy="userRoleDetailsHeading"><span>User Role</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ userRole.id }}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ userRole.code }}</span>
        </dd>
        <dt><span>User Role</span></dt>
        <dd>
          <span>{{ userRole.userRole }}</span>
        </dd>
        <dt><span>Is Active</span></dt>
        <dd>
          <span>{{ userRole.isActive }}</span>
        </dd>
        <dt><span>User Permission</span></dt>
        <dd>
          <span *ngFor="let userPermission of userRole.userPermissions; let last = last">
            <a [routerLink]="['/user-permission', userPermission.id, 'view']">{{ userPermission.document }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/user-role', userRole.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
